.ui#logo{
    padding: 15px;
    color: white;
    background-color:#34495e;
}

.ui#content{
  /*padding should be the same as header height*/
  /*padding-left: 210px;*/
}

#title{
    margin-top:25px;
}

.button{
	margin: 10px;
}

.ui#nav{
	/*margin-right: 10px;*/
	margin:10px;

}
/*#maps{
	border:1px solid #34495e;
	border-radius: 25px;
	width: 1040px;
}*/

body{
	background-color: #ecf0f1;
}

.card-image{
	max-height: 150px;
}

p{
	text-align: left;
	text-indent: 10px;
}