.ui#logo{
    padding: 15px;
    color: white;
    background-color:#34495e;
}

.ui#content{
  // padding should be the same as header height
  padding-left: 210;
}

#title{
    margin-top:25px;
}

.button{
	margin: 10px;
}