.ui#logo{
    padding: 15px;
    color: gray;
    //margin: 55px;
    background-color:#34495e;
}

.ui#content{
  // padding should be the same as header height
  padding: 55px;
}

#title{
    margin-top:25px;
}
